{% extends "base.html" %}

{% block content %}
<h1>{{ show.show_name }}
    <small class="text-muted"><a href="">Change Show</a></small>
</h1>

Kommando Elemente<a href="">Add Element</a><br>
<span>{{ show.list_command }}</span><br>

Logik Elemente<a href="">Add Element</a><br>
<span>{{ show.list_logic }}</span><br>

Media Elemente<a href="">Add Element</a><br>
<span>{{ show.list_media }}</span><br>

Playlist<br>
<span>{{ show.playlist }}</span><br>
<ul class="list-group">
    {% for module in show.playlist %}
    <li class="list-group-item list-group-item-active d-flex justify-content-between align-items-center"><a
            href="#">{{ module }}</a>
        <a href="#"><span class="badge badge-primary badge-pill"></span></a>
        <a href="#"><span class="badge-primary badge-pill"></span></a>
        <a href="#"><span class="badge badge-primary badge-pill"></span></a>
    </li>
    {% endfor %}
</ul>

{% endblock %}